@use '@/app/styles/utils';

.schedule-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: utils.rem(125px);
  padding: 0 10px;

  & > p {
    margin-bottom: utils.rem(10px);
  }
}
