@use '@/app/styles/media';
@use '@/app/styles/utils';
@use '@/app/styles/variables';

.root {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - variables.$footer-mobile-height);
  padding: utils.rem(30px) 0;
  background-color: map-get(variables.$colors, 'page-bg');
  overflow-y: scroll;

  & > div {
    width: 90%;
  }

  @include media.desktop-up {
    height: calc(100vh - variables.$footer-height);
    padding: utils.rem(80px) 0;

    & > div {
      width: utils.rem(1000px);
    }
  }
}
