@use '@/app/styles/utils';

.radio {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;

  &:checked + .label {
    background-color: #2967ba;
    color: #eff4fd;
  }
}

.label {
  display: inline-block;
  padding: utils.rem(6px) utils.rem(14px);
  margin-bottom: utils.rem(14px);
  border-radius: utils.rem(4px);
  font-size: 16px;

  &.available {
    background-color: #eff4fd;
    color: #2967ba;
    cursor: pointer;
  }

  &.taken {
    background-color: none;
    color: #BFC2CA;
    text-decoration: line-through;
    cursor: not-allowed;
  }
}
