@use '@/app/styles/variables';
@use '@/app/styles/utils';
@use '@/app/styles/media';

.root {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: variables.$footer-mobile-height;
  font-size: utils.rem(20px);
  color: white;
  background-color: map-get(variables.$colors, 'footer-bg');

  @include media.desktop-up {
    height: variables.$footer-height;
  }
}
